* {
  padding: 0;
  margin: 0;
}

.results {
  background: #fff9eb;
  height: 100vh;
}

.resultsHeader {
  margin-top: 50px;
  font-family: "Spectral", serif;
  font-size: 40px;
  font-weight: normal;
  padding-top: 50px;
}

.resultsSubHeader {
  font-family: "Spectral", serif;
  padding: 20px 0 20px 20px;
  text-align: left;
}

.nextSteps {
  font-family: "Mulish", sans-serif;
}

.step {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .resultsHeader {
    text-align: left;
    padding-left: 50px;
  }

  .resultsSubHeader {
    padding-left: 50px;
  }

  .nextSteps {
    margin-top: 50px;
    border-top: 1px solid black;
  }

  .eachNextStep {
    display: flex;
    justify-content: space-around;
  }

  /* .step.last {
    background: url('https://res.cloudinary.com/dgbf3yxnd/image/upload/v1601579383/Group_1_n9u3xb.png');
  } */

  .dots {
    display: flex;
    justify-content: space-around;
    margin-top: -8px;
    padding-top: 0;
  }

  .dot {
    height: 15px;
    width: 15px;
    background: black;
    border-radius: 8px;
  }
}
