.fedOfficials.hide {
  display: none;
}

.fedOfficials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fedOfficialsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
}

.fedOfficialsImg {
  width: 150px;
  border-radius: 75px;
  border: 5px solid #3a537f;
}

.fedOfficialsImg.red {
  border: 5px solid #c65d4c;
}

.placeholder {
  font-size: 150px;
  color: #3a537f;
}

.placeholder.red {
  color: #c65d4c;
}

.realName {
  padding-bottom: 0;
  margin-bottom: 0;
}

.title {
  font-size: 10px;
}
