.fedOfficials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fedOfficialsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 300px;
}

.fedOfficialsImg {
  width: 200px;
  border-radius: 100px;
}


