.correctAnswer {
	color: #447f3a;
	font-size: 16px;
	font-family: 'Mulish', sans-serif;
}
.theQuestion {
	font-size: 14px;
	color: #484848;
	font-family: 'Mulish', sans-serif;
}
.feedback {
	display: flex;
	flex-direction: column;
	width: 100%;
	
}
.firstColumn,
.secondColumn {
	width: 100%;
}
.firstColumn {
	
}
@media (min-width: 1000px) {
	.feedback {
        flex-direction: row;
        margin-top: 100px;
	}
	.vl {
		border-left: 1px solid #3a537f;
		height: 500px;
	}
	.firstColumn,
	.secondColumn {
		width: 50%;
	}
	.firstColumn {
        margin-top: 50px;
        margin-right: 50px;
	}
	.secondColumn {
		margin-top: 150px;
		margin-left: 50px;
		font-family: 'Mulish', sans-serif;
	}
}
