.resultsPopUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
}

.allResultsBars {
  padding: 15px;
}

.resultsBar {
  display: flex;
  align-items: center;
}

.resultsBar p {
  width: 100px;
}

.resultsInfo p {
    padding: 5px;
}

.resultsInfo h1 {
    display: none;
}

@media only screen and (min-width: 768px) {
    .resultsPopUp {
        margin: 100px 100px 100px 100px;
        flex-direction: row;
    }

    .allResultsBars {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .resultsPopUp h1 {
        display: none;
    }

    .resultsInfo h1 {
        display: block;
    }

    .resultsInfo {
        text-align: left;
        width: 30%;
    }

}
