.hide {
  display: none;
}

.resultsPopUp {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.resultsPopUpInner {
  border: 1px solid black;
  margin: 20px;
  position: relative;
  background-color: white;
}

.exitLogo {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.resultsPopUpMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allResultsBars {
  padding: 15px;
}

.resultsBar {
  display: flex;
  align-items: center;
}

.resultsBar p {
  width: 100px;
}

.resultsInfo p {
  padding: 5px;
}

.resultsInfo h1 {
  display: none;
}

.socialLogo {
  font-size: 30px;
  padding: 2px;
}

@media only screen and (min-width: 768px) {
  .resultsPopUpInner {
    margin: 100px 100px 100px 100px;
  }

  .resultsPopUpMain {
    flex-direction: row;
  }

  .allResultsBars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .resultsPopUpMain h1 {
    display: none;
  }

  .resultsInfo h1 {
    display: block;
  }

  .resultsInfo {
    text-align: left;
    width: 30%;
  }
}
