.stateOfficials.hide {
  display: none;
}

.stateOfficials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stateOfficialsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.title {
  font-size: 0.8rem;
}

.stateOfficialsImg {
  width: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 75px;
  border: 5px solid #3a537f;
}

.stateOfficialsImg.red {
  border: 5px solid #c65d4c;
}
